*{
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
}



.navbar-custom {
    background-color: transparent !important;
}
.navbar-custom .navbar-brand {
    color: white;
}
.navbar-custom .nav-link .active{
    color: gainsboro;
}
.navbar-custom .nav-link {
    color: gainsboro;
}

.fa-solid .fa-plane{
    color: white;
}

.somos{
    font-size: 35px;
}

.icoback {
    background-color: cyan;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    
}   

.card{
    background: cyan;
    border: radius 0;
    margin-right: 5px;
}

.btn{
    color: white;
    text-shadow: 10px;
    background-color: aqua;
}

.msjeh{
    height: 400px;
}

footer{
    background-color: cyan;
    color: white;
    font-size: 50px;
}